<br>
<div class="row">
  <div class="col-xs-12">
      <h3>{{ contact.name }} {{ contact.surname }}</h3>
      <br>
    <h6>Email: {{ contact.email }} Phone: {{ contact.telephone }}</h6><br>
    <h6>Address: {{ contact.address }} </h6>


  </div>
</div>
<div class="row">
  <div class="col-xs-12">
      <div class="dropdown">
          <button
          type="button"
          class="btn btn-primary dropdown-toggle"  type="button" data-toggle="dropdown">
          Manage Contact <span class="caret"></span>
        </button> 
          <ul class="dropdown-menu">
            <li><a style="cursor: pointer;" (click)="onEditContact()">Edit Contact</a></li>
            <li><a style="cursor: pointer;" (click)="onDeleteContact()">Delete Contact</a></li>
          </ul>
        </div>
   
  </div>
</div>


